  <div layout="column" layout-align="center center">
    <div ng-include="'views/partials/nav.html'"></div>

    <a href="#/user"><md-button> < go back </md-button></a>
    <h2 class="md-display-2">Find By Ingredients</h2>

    <br>
    <!-- Add Ingredients -->
    <h4 class="md-headline">Add some ingredients</h4>
    <div layout="row">
      <md-input-container>
        <label>ingredient</label>
        <input ng-model="recipe.ingredient.name">
      </md-input-container>
    </div>
      <md-button ng-click="recipe.addIngredient(recipe.ingredient)">Submit</md-button>

    <br><br>
    <!-- Find Recipes By Ingredients -->
    <h4 class="md-headline">Select Ingredients You Have</h4>
      <md-select multiple="{{false}}" placeholder="Ingredients List" ng-model="selectedIng">
        <md-option ng-value="recipe.ingredient" ng-repeat="recipe in recipe.list">{{ recipe.ingredient }}</md-option>
      </md-select>
    <br>
    <!-- on submit user is redirected to the recipe Results page -->
  <md-button ng-click="findRecipes()">Find Recipes</md-button>
  <div class="belowFindRecipesBtn"></div>
  </div> <!-- end div layout column -->
