  <div layout="column" layout-align="center center">
    <div ng-include="'views/partials/nav.html'"></div>
    <a href="#/findByIngredients"><md-button> < go back </md-button></a>
    <h2 class="md-display-2">Recipe Results</h2>

    <!-- Display Info From API -->
    <div class="infoContainer">
      <div class="imgContainer" ng-value="food.image" ng-repeat="food in recipe.infoFromApi.response">
        <h4 class="md-headline">{{food.title}}</h4>
        <p class="percentMatch">{{(food.usedIngredientCount/(food.usedIngredientCount + food.missedIngredientCount))*100 | number: 0}}% match</p>
        <img class="image" ng-src="{{ food.image }}"/>
        <!-- Learn More Buttons -->
        <p><md-button ng-click="recipe.learnMore(food.id)">Learn More</md-button></p>
        <br><br>
      </div>  <!-- end imgContainer -->
    </div> <!-- end infoContainer -->
  </div>
